 <div class="height-100v d-flex align-items-center justify-content-center">
	<div class="card card-authentication1 mb-0">
		<div class="card-body">
		 <div class="card-content p-2">
		  <div class="card-title text-uppercase pb-2">Quên mật khẩu</div>
		    <p class="pb-2">Nhập mật khẩu Email. Chúng tôi sẽ cung cấp cho bạn mật khẩu mới</p>
		    <form method="POST">
			  <div class="form-group">
			  <label for="exampleInputEmailAddress" class="">Địa chỉ</label>
			   <div class="position-relative has-icon-right">
				  <input name="email" type="text" id="exampleInputEmailAddress" class="form-control input-shadow" >
				  <div class="form-control-position">
					  <i class="icon-envelope-open"></i>
				  </div>
			   </div>
			  </div>
			 
			  <button type="submit" class="btn btn-light btn-block mt-3">Lấy lại mật khẩu</button>
			 </form>
		   </div>
		  </div>
		   <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Quay về<a href="/admin/login"> Đăng nhập</a></p>
		  </div>
	     </div>
	     </div>